---
layout: page
# The layout for Tag page
---

{% include lang.html %}

{% comment %} --- 计算该标签下英文文章的数量 --- {% endcomment %}
{% assign english_posts_in_tag = 0 %}
{% for post in page.posts %}
  {% assign post_lang = post.lang | default: site.lang | default: 'en' %}
  {% if post_lang == 'en' %}
    {% assign english_posts_in_tag = english_posts_in_tag | plus: 1 %}
  {% endif %}
{% endfor %}

<div id="page-tag">
  <h1 class="ps-lg-2">
    <i class="fa fa-tag fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ english_posts_in_tag }}</span> {% comment %} <-- 使用计算出的英文文章数量 {% endcomment %}
  </h1>
  <ul class="content ps-0">
    {% for post in page.posts %}
      {% comment %} ----- 添加语言过滤开始 ----- {% endcomment %}
      {% assign post_lang = post.lang | default: site.lang | default: 'en' %}
      {% if post_lang == 'en' %}
      {% comment %} ----- 添加语言过滤结束 ----- {% endcomment %}
        <li class="d-flex justify-content-between px-md-3">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="dash flex-grow-1"></span>
          {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
        </li>
      {% comment %} ----- 对应上面的 if 语句 ----- {% endcomment %}
      {% endif %}
    {% endfor %}
  </ul>
</div>