---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    {% comment %} ----- 计算当前标签下英文文章的数量 ----- {% endcomment %}
    {% assign count_english_posts_for_tag = 0 %}
    {% for post_in_tag in site.tags[t] %}
      {% assign post_lang = post_in_tag.lang | default: site.lang | default: 'en' %}
      {% if post_lang == 'en' %}
        {% assign count_english_posts_for_tag = count_english_posts_for_tag | plus: 1 %}
      {% endif %}
    {% endfor %}

    {% comment %} ----- 只显示那些至少有一篇英文文章的标签 ----- {% endcomment %}
    {% if count_english_posts_for_tag > 0 %}
      <div>
        <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
          {{ t -}}
          <span class="text-muted">{{ count_english_posts_for_tag }}</span> {% comment %} <-- 使用计算出的英文文章数量 {% endcomment %}
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
